/*========================*/


/*COLOUR CHANGER CSS*/


/*=======================*/

@font-face {
    font-family: Alifur;
    src: url(../fonts/Battalion.ttf);
}

 :root {
    --addColor: #FFB400;
}

.color-changer-area {
    top: 50%;
    left: 0;
    position: fixed;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    z-index: 9999;
    max-width: 8%;
}

.open-icon {
    width: 100%;
    background: #332e2ef2;
    color: #fff;
    height: 55px;
    max-width: 50px;
    font-size: 33px;
    border-radius: 0px 11px 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
}

.open-icon:hover {
    max-width: 80px;
    background: #131313;
}

.open-icon:active {
    background: #888;
    color: #c6a76d;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/*
 CLOSE Icon
 */

.close-icon {
    width: 100%;
    background: #fff;
    max-width: 250px;
    position: fixed;
    text-align: center;
    left: 0;
    display: none;
    background: #131313;
    border-radius: 6px;
}

.icon-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 19px;
    text-transform: uppercase;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 6px 0;
    color: #fff;
}

.icon-header p {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family: tahoma;
    font-weight: 400;
    color: var(--addColor);
}

.icon-header .fa {
    font-size: 26px;
    cursor: pointer;
    padding: 10px;
}

.icon-header .fa:hover {
    color: #977979bf;
}

.hr-separator {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
}


/*
 single close div
 */

.single-close-div {
    margin: 10px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.single-close-div .fa {
    font-size: 30px;
    margin: 5px;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
}

.button .owner {
    background: var(--addColor);
    padding: 6px 70px;
    margin: 10px;
    border: none;
    font-size: 13px;
    display: inline-block;
    color: #fff;
    font-family: Alifur;
    text-decoration: none;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 6px;
}

.button .owner:hover {
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}


/*
 custom color
 */

#purple {
    color: purple;
}

#red {
    color: red;
}

#blueviolet {
    color: blueviolet;
}

#blue {
    color: blue;
}

#goldenrod {
    color: goldenrod;
}

#magenta {
    color: magenta;
}

#yellowgreen {
    color: yellowgreen;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: #ffb400;
}